body, html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	bottom: 0;
	right: 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
	display: none;
}

/************ COLORS ************/
/*
orange: #fbc848;
light-orange: #ffc938;
strong-orange: #fab300;
dark-grey: #333333;
light-grey: #dddddd;
almost-white: #eeeeee;
*/

/************ GENERAL ************/
.app {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fbc848;
	overflow-y: scroll;
	overflow-x: hidden;
}

.center {
	text-align: center;
	vertical-align: middle;
}

.left {
	text-align: left;
	vertical-align: middle;
}

.right {
	text-align: right;
	vertical-align: middle;
}

.margin-small {
	margin: 1em;
}

.margin-left-small {
	margin-left: 1em;
}

.margin-right-small {
	margin-right: 1em;
}

.margin-top-small {
	margin-top: 1em;
}
.margin-bottom-small {
	margin-bottom: 1em;
}

.rounded {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.top-rounded {
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;

	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

.bottom-rounded {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-top-bottom-radius: 10px;

	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/************ INDEX ************/
.index .header {
	width: 100vw;
	height: 30vh;
	padding: 0;
	margin: 0;
	line-height: 30vh;
}

.index .footer {
	width: 100vw;
	height: 70vh;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.index .footer span {
	display: inline-block;
	padding: 1.5em;
	margin: 1vh 0 7vh 0;
	background: transparent url("/img/backgrounds/dot.png") repeat-x left bottom;
}

.index .footer img {
	margin-bottom: 3vh;
}

/************ PUBLIC ************/
.public .header {
	width: 100vw;
	height: 15vh;
	padding: 0;
	margin: 0;
	line-height: 15vh;
}


.public .header .left img {
	width: 80vw;
	max-width: 400px;
}

.public .header a {
	font-size: 23px;
	font-family: 'Montserrat', sans-serif;
	color: #FFF;
	text-decoration: none;
}

.public .body {
	width: 100vw;
	min-height: 65vh;
	padding: 0;
	margin: 0;
	background-color: #FFFFFF;
	border-bottom: 3px solid #ffc938;
}

.public .body .nav-bar {
	width: 100%;
	height: 6vh;
	line-height: 4vh;
	margin-top: 2vh;
	background: transparent url("/img/backgrounds/dot.png") repeat-x left bottom;
	text-align: center;
}

.public .body .nav-bar div {
	border-left: 2px solid #999999; 
}

.public .body .nav-bar div:first-child {
	border-left: none; 
}

.public .body .nav-bar a {
	color: #767676;
	text-decoration: none;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
}

.public .body .nav-bar span {
	color: #ffa200;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
}

.public .body .nav-bar a {
	color: #767676;
	text-decoration: none;
}

.public .body .container {
	padding: 0 0 30px 0;
	min-height: 65vh;
	background: transparent url("/img/backgrounds/body.png") repeat-x left bottom;
}

.public .footer {
	width: 100vw;
	padding: 4ex 0 6ex 0;
	margin: 0;
	background: #333333 url("/img/backgrounds/footer.jpg") left top;
}

.public .footer h2, .public .footer .h2 {
	font: 700 20px 'Montserrat', sans-serif;
	color: #f5a900;
	margin: 0 0 1ex 0;
}

.public .footer p {
	font: 400 13px 'Montserrat', sans-serif;
	color: #FFF;
	line-height: 20px;
}

.public .footer a.email {
	font: 700 21px 'Montserrat', sans-serif;
	color: #FFF;
}

.public .footer a.email:hover {
	text-decoration: underline;
}

.public .footer .contact {
	text-align: right;
}

.public .footer .contact h2 {
	margin-top: 1ex;
}

.public .footer .copyright p{
	margin-top: 3ex;
	line-height: 20px;
	text-align: center;
	font: 10px Arial, Helvetica, sans-serif;
	color: #8e8e8e;
}

.public .footer .copyright p a{
	font: 10px Arial, Helvetica, sans-serif;
	color: #8e8e8e;
	text-decoration: none;
}

.public .footer .copyright p a:hover{
	text-decoration: underline;
}

/************ LOGIN ************/
.auth {
	width: 100%;
	min-height: 40vh;
	padding: 5vh 0 0 0;
	margin: 0;
}

.auth .signin {
	width: 100%;
	min-height: 25vh;
	background-color: #fbc848;
	color: #FFFFFF;
	text-shadow: 1px 2px 0 #999999;
	border: 1px solid #999999;
	border-bottom: none;
}

.auth .signin h1 {
	font-size: 30px;
	font-weight: 600;
	padding: 0;
	margin: 1em 0 0 0;
}

.auth .signin .form-input{
	padding-top: 1em;
}

.auth .signin .form-input label{
	font-weight: 600;
}

.auth .signin .form-input input{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 55%;
	margin-left: 1em;
	color: #000000;
}

.auth .signin .form-input button{
	background-color: #999999;
	color: #FFFFFF;
}

.auth .signin img {
	margin-top: 2vh;
	height: 20vh;
}

.auth .signup {
	width: 100%;
	min-height: 25vh;
	background-color: #FFFFFF;
	border: 1px solid #999999;
	border-top: none;
	color: #000000;
	text-shadow: 1px 1px 0 #999999;
	padding-bottom: 1em;
}

.auth .signup h1 {
	font-size: 30px;
	font-weight: 600;
	padding: 0;
	margin: 0.5em 0 0 0;
	color: #fbc848;
}

.auth .signup .form-input{
	padding-top: 0.5em;
}

.auth .signup .form-input label{
	font-weight: 600;
}

.auth .signup .form-input input{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 55%;
	margin-left: 1em;
	color: #000000;
}

.auth .signup .form-input button{
	background-color: #fab300;
	color: #FFFFFF;
}

.auth .signup img {
	margin-top: 2vh;
	height: 20vh;
}

/************ PRODUCTS ************/
.categories {
	width: 100%;
	height: 20vh;
	background: transparent url("/img/backgrounds/dot.png") repeat-x left bottom;
	text-align: center;
}

.categories .category {
	width: 8%;
	height: 20vh;
	margin: 0 1% 0 1%;
	float: left;
	text-align: center;
	opacity: 0.5;
}

.categories .category.long {
	width: 13%;
}

.categories .category.active, .categories .category:hover {
	opacity: 1;
}

.categories .category img {
	display: block;
	padding: 3vh 0 1vh 0;
	height: 11vh;
	max-width: 8vw;
	margin: 0 auto;
	text-align: center;
}

.categories .category a {
	color: #f5a900;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.categories .category a:hover {
	text-decoration: none;
}

.categories .category.active a, .categories .category:hover a {
	color: #888888;
	border-bottom: 2px solid #ff0000;
}

/* background-size: cover; */
