<div class="public">
	<div data-header=""></div>
	<div class="body">
		<div class="container-fluid">
			<div data-admin-navbar=""></div>
			<div class="admin table-responsive">
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th data-ng-repeat="column in columns">{{column.name}}</th>
							<th class="table-opt-min-3 text-center">Opciones</th>
						</tr>
					</thead>
					<tbody>
						<!-- NEW -->
						<tr>
							<!-- NEW BUTTON -->
							<td data-ng-if="!newItem.isEditing" colspan="{{columns.length+1}}" title="{{newItem.text}}" class="text-center">
								<button data-ng-if="!newItem.isEditing" class="btn btn-success" data-ng-click="addNew(newItem.item)">
									<i class="fa fa-plus"></i>
								</button>
							</td>
							<!-- EDITING -->
							<td data-ng-if="newItem.isEditing" data-ng-repeat="field in columns" data-ng-class="field.tdClass">
								<div data-ng-if="field.isEditable && newItem.isEditing" class="input-group text-center">
									<input data-ng-if="field.type === 'text'" type="text" class="form-control" data-ng-model="newItem.item[field.id]">
									<select data-ng-if="field.type === 'category'" class="form-control" ng-model="newItem.item.category" ng-options="cat as cat.name for cat in categories"></select>
									<input data-ng-if="field.type === 'int'" type="text" class="form-control" data-ng-model="newItem.item[field.id]">
									<span data-ng-if="field.type === 'money'" class="input-group-addon">$</span>
									<input data-ng-if="field.type === 'money'" type="text" class="form-control" data-ng-model="newItem.item[field.id]">
									<button data-ng-if="field.type === 'image'" class="btn btn-danger" data-ng-click="newImage()">
										<i class="fa fa-question"></i>
									</button>
									<span data-ng-if="newItem.item.errors[field.id]" class="label label-danger">
										<i class="fa fa-times-circle margin-right-xsmall"></i> {{newItem.item.errors[field.id]}}
									</span>
								</div>
							</td>
							<!-- EDIT OPTIONS -->
							<td data-ng-if="newItem.isEditing" class="text-center">
								<button data-ng-if="newItem.isEditing" class="btn btn-success" data-ng-click="saveNew(newItem.item)">
									<i class="fa fa-check"></i>
								</button>
								<button data-ng-if="newItem.isEditing" class="btn btn-danger" data-ng-click="cancelNew(newItem.item)">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
						<!-- LIST -->
						<tr data-ng-if="results.length" data-ng-repeat="item in results track by $index">
							<td data-ng-repeat="field in columns" data-ng-class="field.tdClass">
								<div data-ng-if="!field.isEditable || !item.isEditing">
									<span data-ng-if="field.type === 'money' && item[field.id].length">$</span>
									<span data-ng-if="field.type !== 'image' && field.type !== 'category'">{{item[field.id]}}</span>
									<span data-ng-if="field.type === 'category'">{{item.category.name}}</span>
									<img data-ng-if="field.type === 'image'" data-ng-src="{{item[field.id]}}?t={{updateImage}}" alt="{{item[field.id]}}" width="50">
								</div>
								<div data-ng-if="field.isEditable && item.isEditing" class="input-group text-center">
									<input data-ng-if="field.type === 'text'" type="text" class="form-control" data-ng-model="editList[item.id][field.id]">
									<select data-ng-if="field.type === 'category'" class="form-control" ng-model="item.category" ng-options="cat as cat.name for cat in categories"></select>
									<input data-ng-if="field.type === 'int'" type="text" class="form-control" data-ng-model="editList[item.id][field.id]">
									<span data-ng-if="field.type === 'money'" class="input-group-addon">$</span>
									<input data-ng-if="field.type === 'money'" type="text" class="form-control" data-ng-model="editList[item.id][field.id]">
									<img data-ng-if="field.type === 'image'" data-ng-src="{{item[field.id]}}?t={{updateImage}}" alt="{{item[field.id]}}" width="50">
									<span data-ng-if="editList[item.id].errors[field.id]" class="label label-danger">
										<i class="fa fa-times-circle margin-right-xsmall"></i> {{editList[item.id].errors[field.id]}}
									</span>
								</div>
							</td>
							<td class="table-opt-min-3 text-center">
								<button data-ng-if="!item.isEditing" class="btn btn-primary" data-ng-click="edit(item)">
									<i class="fa fa-pencil"></i>
								</button>
								<button data-ng-if="!item.isEditing" class="btn btn-info" data-ng-click="startUpload(item)">
									<i class="fa fa-image"></i>
								</button>
								<button data-ng-if="!item.isEditing" class="btn btn-danger" data-ng-click="removeInfo()" data-ng-dblclick="remove(item)">
									<i class="fa fa-trash"></i>
								</button>
								<button data-ng-if="item.isEditing" class="btn btn-success" data-ng-click="save(item)">
									<i class="fa fa-check"></i>
								</button>
								<button data-ng-if="item.isEditing" class="btn btn-danger" data-ng-click="cancel(item)">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
						<tr data-ng-if="!results.length">
							<td colspan="{{columns.length+1}}">
								<div class="alert alert-info">
									No hay resultados para mostrar
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="image-upload" data-ng-if="renderUpload" data-ng-class="{shown: showUpload}" 
				data-flow-init="{target:'/api/v1/upload/image/product', testChunks:false, singleFile:true}"
				data-flow-file-error="errorUpload()" data-flow-file-success="successUpload()"
				data-flow-file-added="imageAdded($file)">
				<div class="panel panel-success">
					<div class="panel-heading">
						<h3>Cargar Imagen</h3>
						<div class="action-buttons">
							<span class="btn btn-success" data-ng-show="!$flow.files.length" data-flow-btn="">
								<i class="fa fa-upload"></i> Seleccionar
								<input type="file" style="visibility: hidden; position: absolute;">
							</span>
							<span class="btn btn-danger" data-ng-show="!$flow.files.length" data-ng-click="closeUpload()">
								<i class="fa fa-times"></i> Salir
							</span>
							<span class="btn btn-success ng-hide" data-ng-show="$flow.files.length && !$flow.isUploading()" ng-click="$flow.resume()">
								<i class="fa fa-upload"></i> Subir
							</span>
							<span class="btn btn-info ng-hide" data-ng-show="$flow.files.length && !$flow.isUploading()" data-flow-btn="">
								<i class="fa fa-pencil"></i> Cambiar
								<input type="file" style="visibility: hidden; position: absolute;">
							</span>
							<span data-ng-show="$flow.isUploading()">Subiendo...</span>
							<span class="btn btn-danger" data-ng-show="$flow.files.length && !$flow.isUploading()" data-ng-click="closeUpload()">
								<i class="fa fa-times"></i> Cancelar
							</span>
							<span class="btn btn-danger ng-hide" data-ng-show="$flow.isUploading()" ng-click="$flow.pause()">
								<i class="fa fa-times"></i> Cancelar
							</span>
						</div>
					</div>
					<div class="panel-body">
						<div class="thumbnail" data-ng-show="!$flow.files.length">
							<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=sin+imagen">
						</div>
						<div class="thumbnail ng-hide" data-ng-show="$flow.files.length">
							<img data-flow-img="$flow.files[0]">
						</div>
						<div class="text-center">
							
						</div>
						<span data-ng-if="uploadError" class="label label-danger">
							Solo se permiten imagenes PNG.
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-footer=""></div>
</div>
