<div class="public">
	<div data-header=""></div>
	<div class="body">
		<div class="container-fluid">
			<div data-admin-navbar=""></div>
			<div class="admin table-responsive">
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th data-ng-repeat="column in columns">{{column.name}}</th>
							<th class="table-opt-2 text-center">Opciones</th>
						</tr>
					</thead>
					<tbody>
						<!-- NEW -->
						<tr>
							<!-- NEW BUTTON -->
							<td data-ng-if="!newItem.isEditing" colspan="{{columns.length+1}}" title="{{newItem.text}}" class="text-center">
								<button data-ng-if="!newItem.isEditing" class="btn btn-success" data-ng-click="addNew(newItem.item)">
									<i class="fa fa-plus"></i>
								</button>
							</td>
							<!-- EDITING -->
							<td data-ng-if="newItem.isEditing" data-ng-repeat="field in columns" data-ng-class="field.tdClass">
								<div data-ng-if="field.isEditable && newItem.isEditing" class="input-group text-center">
									<input data-ng-if="field.type === 'text'" type="text" class="form-control" data-ng-model="newItem.item[field.id]">
									<input data-ng-if="field.type === 'int'" type="text" class="form-control" data-ng-model="newItem.item[field.id]">
									<span data-ng-if="field.type === 'money'" class="input-group-addon">$</span>
									<input data-ng-if="field.type === 'money'" type="text" class="form-control" data-ng-model="newItem.item[field.id]">
									<button data-ng-if="field.type === 'image'" class="btn btn-success" data-ng-click="uploadImage(newItem.item)">
										<i class="fa fa-upload"></i>
									</button>
									<span data-ng-if="newItem.item.errors[field.id]" class="label label-danger">
										<i class="fa fa-times-circle margin-right-xsmall"></i> {{newItem.item.errors[field.id]}}
									</span>
								</div>
							</td>
							<!-- EDIT OPTIONS -->
							<td data-ng-if="newItem.isEditing" class="text-center">
								<button data-ng-if="newItem.isEditing" class="btn btn-success" data-ng-click="saveNew(newItem.item)">
									<i class="fa fa-check"></i>
								</button>
								<button data-ng-if="newItem.isEditing" class="btn btn-danger" data-ng-click="cancelNew(newItem.item)">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
						<!-- LIST -->
						<tr data-ng-if="results.length" data-ng-repeat="item in results">
							<td data-ng-repeat="field in columns">
								<img data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'image'" data-ng-src="{{item[field.id]}}" alt="{{item[field.id]}}" width="50">
								<span data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'text'">{{item[field.id]}}</span>
								<span data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'config-text'">{{getHumanReadable(item[field.id])}}</span>
								<a data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'file'" data-ng-href="{{item[field.id]}}" target="_blank" class="btn btn-primary"><i class="fa fa-eye"></i></a>
								<div data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'config'">{{item[field.id]}}</div>
								<input data-ng-if="field.isEditable && item.isEditing" type="{{field.type}}" min="0" class="form-control" data-ng-model="editList[item.id][field.id]">
							</td>
							<td class="table-opt-2 text-center">
								<button data-ng-if="!item.isEditing" class="btn btn-primary" data-ng-click="edit(item)">
									<i class="fa fa-pencil"></i>
								</button>
								<button data-ng-if="!item.isEditing" class="btn btn-danger" data-ng-click="remove(item)">
									<i class="fa fa-trash"></i>
								</button>
								<button data-ng-if="item.isEditing" class="btn btn-success" data-ng-click="save(item)">
									<i class="fa fa-check"></i>
								</button>
								<button data-ng-if="item.isEditing" class="btn btn-danger" data-ng-click="cancel(item)">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
						<tr data-ng-if="!results.length">
							<td colspan="{{columns.length+1}}">
								<div class="alert alert-info">
									No hay resultados para mostrar
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div data-footer=""></div>
</div>
