<div class="public">
	<div data-header=""></div>
	<div class="body">
		<div class="container">
			<div data-admin-navbar=""></div>
			<div class="admin table-responsive">
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th data-ng-repeat="column in columns">{{column.name}}</th>
							<th data-ng-if="new.options">Opciones</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-ng-if="!new.isEditing" colspan="{{columns.length+1}}" title="{{new.text}}" class="text-center">
								<button data-ng-if="!new.isEditing" class="btn btn-success" data-ng-click="new(new.item)">
									<i class="fa fa-plus"></i>
								</button>
							</td>
							<td data-ng-if="new.isEditing" data-ng-repeat="field in columns">
								<input data-ng-if="field.isEditable && new.isEditing" type="{{field.type}}" min="0" class="form-control" data-ng-model="new.item[field.id]">
							</td>
							<td data-ng-if="new.isEditing">
								<button data-ng-if="new.isEditing" class="btn btn-success" data-ng-click="saveNew(new.item)">
									<i class="fa fa-check"></i>
								</button>
								<button data-ng-if="new.isEditing" class="btn btn-danger" data-ng-click="cancelNew(new.item)">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
						<tr data-ng-if="results.length" data-ng-repeat="item in results">
							<td data-ng-repeat="field in columns">
								<img data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'image'" data-ng-src="{{item[field.id]}}" alt="{{item[field.id]}}" width="50">
								<span data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'text'">{{item[field.id]}}</span>
								<span data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'config-text'">{{getHumanReadable(item[field.id])}}</span>
								<a data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'file'" data-ng-href="{{item[field.id]}}" target="_blank" class="btn btn-primary"><i class="fa fa-eye"></i></a>
								<div data-ng-if="(!field.isEditable || !item.isEditing) && field.type === 'config'">{{item[field.id]}}</div>
								<input data-ng-if="field.isEditable && item.isEditing" type="{{field.type}}" min="0" class="form-control" data-ng-model="editList[item.id][field.id]">
							</td>
							<td data-ng-if="new.options">
								<button data-ng-if="new.canEdit && !item.isEditing" class="btn btn-primary" data-ng-click="edit(item)">
									<i class="fa fa-pencil"></i>
								</button>
								<button data-ng-if="new.canDelete && !item.isEditing" class="btn btn-danger" data-ng-click="remove(item)">
									<i class="fa fa-trash"></i>
								</button>
								<button data-ng-if="item.isEditing" class="btn btn-success" data-ng-click="save(item)">
									<i class="fa fa-check"></i>
								</button>
								<button data-ng-if="item.isEditing" class="btn btn-danger" data-ng-click="cancel(item)">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
						<tr data-ng-if="!results.length">
							<td colspan="{{columns.length+1}}">
								<div class="alert alert-info">
									No hay resultados para mostrar
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div data-footer=""></div>
</div>
