<div class="public">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-7 left">
					<img src="/img/logos/page.png">
				</div>
				<div class="hidden-xs col-sm-5 right">
					<a ng-href="/#/{{branch}}/pedidos">PEDIDOS ONLINE</a>
					<a href="#" target="_blank" class="margin-left-small">
						<img src="/img/icons/facebook.png" alt="Facebook">
					</a>
					<a href="#" target="_blank">
						<img src="/img/icons/twitter.png" alt="Twitter">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="body">
		<div class="container">
			<div class="row">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 col-sm-12 page-title">
						<div class="h3 related-to-title text-right">[Error {{code}}]</div>
						<div class="h1 alert alert-danger"><i class="fa fa-exclamation-triangle margin-right-small"></i>{{error.title}}</div>
						<div class="h3">{{error.description}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
			</div>
		</div>
	</div>
</div>