<div class="index center">
	<div class="header row">
		<div class="col-xs-12">
			<a href="/#/">
				<img src="/img/logos/page.png">
			</a>
		</div>
	</div>
	<div class="footer row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 col-xs-12 col-sm-12 page-title">
					<div class="h1 alert alert-danger">
						<i class="fa fa-exclamation-triangle margin-right-small"></i>{{error.title}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<span>ELEG&Iacute; TU ZONA</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<a href="/#/rosario">
						<img src="/img/icons/rosario.png">
					</a>
				</div>
				<div class="col-xs-12 col-sm-6">
					<a href="/#/funes">
						<img src="/img/icons/funes.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
