<div class="index center">
	<div class="header row">
		<div class="col-xs-12">
			<a href="/#/">
				<img src="/img/logos/page.png">
			</a>
		</div>
	</div>
	<div class="footer row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<span>ELEG&Iacute; TU ZONA</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<a href="/#/rosario">
						<img src="/img/icons/rosario.png">
					</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<a href="/#/funes">
						<img src="/img/icons/funes.png">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
