<div class="public">
	<div data-header=""></div>
	<div class="body">
		<div class="container">
			<div data-navbar=""></div>
			<div class="auth">
				<div class="row signin top-rounded">
					<div class="col-xs-12 col-md-6 right">
						<h1>INGRESAR</h1>
						<div class="form-input">
							<label for="user-login">Usuario: </label>
							<input type="email" name="user-login" placeholder="mi-mail@ejemplo.com" ng-model="user.login.email" ng-trim="true">
						</div>
						<div class="form-input">
							<label for="password-login">Contrase&ntilde;a: </label>
							<input type="password" name="password-login" type="text" ng-model="user.login.password">
						</div>
						<div class="form-input">
							<button class="btn btn-default" ng-click="signIn()">Enviar</button>
						</div>
					</div>
					<div class="hidden-xs hidden-sm col-md-6 center">
						<img src="/img/icons/signin.png">
					</div>
				</div>
				<div class="row signup bottom-rounded">
					<div class="hidden-xs hidden-sm col-md-5 center">
						<img src="/img/icons/signup.png">
					</div>
					<div class="col-xs-12 col-md-6 right">
						<h1>REGISTRAR</h1>
						<div class="form-input">
							<label for="user-name">Nombre: </label>
							<input type="text" name="user-name" placeholder="" ng-model="user.register.firstName" ng-trim="true">
						</div>
						<div class="form-input">
							<label for="user-surname">Apellido: </label>
							<input type="text" name="user-surname" placeholder="" ng-model="user.register.lastName" ng-trim="true">
						</div>
						<div class="form-input">
							<label for="user-phone">Tel&eacute;fono: </label>
							<input type="text" name="user-phone" placeholder="" ng-model="user.register.phone" ng-trim="true">
						</div>
						<div class="form-input">
							<label for="user-address">Domicilio: </label>
							<input type="text" name="user-address" placeholder="" ng-model="user.register.address" ng-trim="true">
						</div>
						<div class="form-input">
							<label for="user-email">Usuario: </label>
							<input type="email" name="user-email" placeholder="mi-mail@ejemplo.com" ng-model="user.register.email" ng-trim="true">
						</div>
						<div class="form-input">
							<label for="user-password">Contrase&ntilde;a: </label>
							<input type="password" name="user-password" type="text" ng-model="user.register.password">
						</div>
						<div class="form-input">
							<label for="user-password-repeat">Repetir contrase&ntilde;a: </label>
							<input type="password" name="user-password-repeat" type="text" ng-model="user.register.passwordRepeat">
						</div>
						<div class="form-input">
							<button class="btn btn-primary" ng-click="signUp()">Enviar</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div data-footer=""></div>
</div>
