<div class="public">
	<div data-header=""></div>
	<div class="body">
		<div class="container">
			<div data-navbar=""></div>
			<div class="row map">
				<div class="col-xs-7">
					<div class="map-image">
						<img src="img/misc/map.png" alt="">
					</div>
					<p class="branches-info">
						<strong>Locales: </strong>
						<span>Pellegrini 1125 | Moreno 75 bis &middot; Rosario, Santa Fe, Argentina.</span>
					</p>
				</div>
				<div class="col-xs-5">
					<div class="logo">
						<img src="img/logos/eat-different.png" alt="">
					</div>
					<p class="time-info">
						<strong>Lunes a Jueves</strong>
						<span>11-15hs / 19-23hs</span>
						<strong>Viernes y S&aacute;bados</strong>
						<span>hasta las 23:30hs</span>
						<strong class="phone">0800 444 7655</strong>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div data-footer=""></div>
</div>
