<div class="public">
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-7 left">
					<a href="/#/">
						<img src="/img/logos/page.png">
					</a>
				</div>
				<div class="hidden-xs hidden-sm col-md-5 right">
					<a ng-href="/#/{{branch}}/pedidos">PEDIDOS ONLINE</a>
					<a href="#" target="_blank" class="margin-left-small">
						<img src="/img/icons/facebook.png" alt="Facebook">
					</a>
					<a href="#" target="_blank">
						<img src="/img/icons/twitter.png" alt="Twitter">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="body">
		<div ng-if="!isMobile" class="container hidden-xs hidden-sm">
			<div class="nav-bar row">
				<div class="col-md-1 col-md-offset-1">
					<a ng-href="/#/{{branch}}">INICIO</a>
				</div>
				<div class="col-md-3">
					<a ng-href="/#/{{branch}}/mapa">NUESTRO ALCANCE</a>
				</div>
				<div class="col-md-2">
					<a ng-href="/#/{{branch}}/franquicias">FRANQUICIAS</a>
				</div>
				<div class="col-md-2">
					<a ng-href="/#/{{branch}}/contacto">CONTACTO</a>
				</div>
				<div class="col-md-2">
					<span>0800 444 7655</span>
				</div>
			</div>
			<div class="row categories">
				<div class="col-md-12">
					<div ng-repeat="category in categories" ng-click="goToCategory(category.id)" class="category" ng-class="{'long': category.isLong, 'active': category.active}">
						<img ng-src="{{category.image}}">
						<a ng-href="/#/{{branch}}/pedidos/categoria/{{category.id}}">{{category.name}}</a>
					</div>
					<div class="category" ng-click="goToCategory('combos')" ng-class="{'active': isCombos}">
						<img src="/img/icons/products/combos.png">
						<a ng-href="/#/{{branch}}/pedidos/categoria/combos">Combos</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="row products" ng-if="!isCombos">
				<div class="col-md-8 product-list">
					<div ng-repeat="row in results" class="row">
						<div ng-repeat="product in row" class="col-md-6 product">
							<p class="image">
								<img ng-src="{{product.image}}">
							</p>
							<p class="details">
								<span class="name">{{product.name}}</span>
								<span class="price">{{product.amount}} u.</span>
								<span class="price">${{product.price}}</span>
								<img src="/img/icons/buy.png" ng-click="addToOrder(product)">
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 order-details">

				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<div class="row">
				<div class="hidden-xs hidden-sm col-md-4">
					<h2>NUESTROS PRODUCTOS</h2>
					<p>
						Seleccionamos los ingredientes de mejor calidad para poder
						llevar a tu mesa un producto &uacute;nico y de gran sabor,
						por el cual nos elijen d&iacute;a a d&iacute;a.
					</p>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4">
					<h2>PEDIDOS ONLINE</h2>
					<p>
						Registrate y eleg&iacute; lo que m&aacute;s te guste.
						Nosotros nos encargamos del resto.
					</p>
					<div class="hidden-md hidden-lg">
						<span class="h2">0800 444 ROLL (7655)</span>
						<a href="#" target="_blank" class="margin-left-small">
							<img src="/img/icons/facebook-grey.png" alt="Facebook">
						</a>
						<a href="#" target="_blank">
							<img src="/img/icons/twitter-grey.png" alt="Twitter">
						</a>
					</div>
					<div class="hidden-md hidden-lg">
						<a href="mailto:info@delimall.com" class="email">info@delimall.com</a>
					</div>
				</div>
				<div class="hidden-xs hidden-sm col-md-4 contact">
					<a href="#" target="_blank">
						<img src="/img/icons/facebook-grey.png" alt="Facebook">
					</a>
					<a href="#" target="_blank">
						<img src="/img/icons/twitter-grey.png" alt="Twitter">
					</a>
					<h2>0800 444 ROLL (7655)</h2>
					<a href="mailto:info@delimall.com" class="email">info@delimall.com</a>
				</div>
			</div>
			<div class="row hidden-xs hidden-sm">
				<div class="col-md-12 copyright">
					<p>
						Copyright &copy; 2013 DELIMALL – Todos los derechos reservados &middot; 
						<a href="#">T&eacute;rminos y Condiciones</a> &middot; 
						<a href="#">Pol&iacute;tica de Privacidad</a> &middot; 
						<a href="mailto:info@delimall.com">info@delimall.com</a>
					</p>
					<p>
						Dise&ntilde;o: Mariano Diez &middot; Programaci&oacute;n: Felisa Savio - David Curras
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
