<div class="public">
	<div data-header=""></div>
	<div class="body">
		<div class="container">
			<div data-navbar=""></div>
			<div data-categories=""></div>
			<div data-products=""></div>
		</div>
	</div>
	<div data-footer=""></div>
	<div class="popup-full" data-ng-class="{shown: popupShown}">
		<div class="panel panel-warning">
			<div class="panel-heading">
				<h3>HOY NO ABRIMOS</h3>
				<div class="action-buttons">
					<span class="btn btn-danger" data-ng-click="closePopup()">
						<i class="fa fa-times"></i>
					</span>
				</div>
			</div>
			<div class="panel-body">
				<span>Esperamos tu pedido mañana!</span>
				<img src="img/logos/franchises.png">
			</div>
		</div>
	</div>
</div>
