<div class="nav-bar row">
	<div class="col-sm-2">
		<a ng-href="/#/admin/general" ng-class="{selected: selected.general}">GENERAL</a>
	</div>
	<div class="col-sm-2">
		<a ng-href="/#/admin/categorias" ng-class="{selected: selected.categorias}">CATEGORIAS</a>
	</div>
	<div class="col-sm-2">
		<a ng-href="/#/admin/productos" ng-class="{selected: selected.productos}">PRODUCTOS</a>
	</div>
	<div class="col-sm-2">
		<a ng-href="/#/admin/combos" ng-class="{selected: selected.combos}">COMBOS</a>
	</div>
	<div class="col-sm-2">
		<a ng-href="/#/admin/ordenes" ng-class="{selected: selected.ordenes}">ORDENES</a>
	</div>
	<div class="col-sm-2">
		<a ng-href="/#/admin/clientes" ng-class="{selected: selected.clientes}">CLIENTES</a>
	</div>
</div>
