<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-7 left">
				<a href="#/">
					<img src="img/logos/page.png">
				</a>
			</div>
			<div class="hidden-xs col-sm-5 right">
				<a ng-href="#/{{branch}}/pedidos">PEDIDOS ONLINE</a>
				<a href="#" target="_blank" class="margin-left-small hidden-sm">
					<img src="img/icons/facebook.png" alt="Facebook">
				</a>
				<a href="#" target="_blank" class="hidden-sm">
					<img src="img/icons/twitter.png" alt="Twitter">
				</a>
			</div>
		</div>
	</div>
</div>
