<div id="home-slider" class="col-xs-12">
	<carousel interval="interval">
		<slide ng-repeat="article in news" active="article.active">
			<img data-ng-src="{{article.image}}" alt="{{article.title}}" data-ng-click="next()">
		</slide>
		<div class="slide-controls row">
			<div data-ng-repeat="article in news" class="slide-control col-xs-3" data-ng-class="{active: article.active}">
				<div class="active-indicator center" data-ng-if="article.active">
					<img src="img/misc/indicator.png" alt="">
				</div>
				<h3>{{article.title}}</h3>
				<p>{{article.description}}</p>
			</div>
		</div>
	</carousel>
</div>
