<div class="col-sm-5">
	<div class="order-details">
		<h2>TU PEDIDO</h2>
		<div class="order-box" data-ng-if="!isClosed && user.id">
			<p class="user-name">{{user.firstName}} {{user.lastName}}</p>
			<p class="empty-order" ng-if="!myOrder.count">No hay elementos seleccionados</p>
			<div class="row product" ng-if="myOrder.count" ng-repeat="product in myOrder.products">
				<div class="col-sm-7">
					<span>{{product.name}}</span>
				</div>
				<div class="col-sm-5">
					<input type="number" ng-model="product.count" min="0" max="999" ng-change="calculateTotal()">
					<img src="img/icons/remove.png" alt="X" ng-click="removeFromOrder(product.id)">
					<span>${{product.price}}</span>
				</div>
			</div>
			<div class="row total">
				<div class="col-sm-6">
					<span>Envio a domicilio</span>
					<input type="checkbox" id="checkbx" ng-model="myOrder.delivery" ng-change="calculateTotal()">
					<label for="checkbx"></label>
				</div>
				<div class="col-sm-6 text-right">
					<span>TOTAL ${{myOrder.total}}</span>
				</div>
			</div>
			<div class="time-range">
				<div class="form-input">
					<label for="time-range">Horario de entrega: </label>
					<select name="time-range" data-ng-model="myOrder.timeRange">
						<option data-ng-repeat="option in getTimeRange()" value="{{option}}">{{option}}</option>
					</select>
					<span data-ng-if="errors.timeRange" class="label label-danger">
						<i class="fa fa-times-circle margin-right-xsmall"></i> Debe seleccionar un horario de entrega
					</span>
					<span data-ng-if="myOrder.success" class="label label-success">
						<i class="fa fa-check margin-right-xsmall"></i> Su pedido ha sido entregado correctamente
					</span>
					<span data-ng-if="myOrder.error" class="label label-danger">
						<i class="fa fa-times-circle margin-right-xsmall"></i> Su pedido no ha podido ser entregado
					</span>
				</div>
			</div>
			<div class="row buttons">
				<div class="col-sm-6 text-right">
					<button class="btn btn-default" data-ng-click="clear()">VACIAR CARRO</button>
				</div>
				<div class="col-sm-6 text-left">
					<button class="btn btn-primary" data-ng-click="send()" data-ng-disabled="!myOrder.count">ENVIAR</button>
				</div>
			</div>
		</div>
		<div class="login-box text-center" data-ng-if="!isClosed && !user.id">
			<a class="btn btn-primary" data-ng-href="#/{{branch}}/login">LOGIN</a>
		</div>
		<div class="alert alert-danger text-center" data-ng-if="isClosed">HOY NO ABRIMOS. TE ESPERAMOS MA&Ntilde;ANA!</div>
	</div>
</div>
